<!DOCTYPE html>
<html ng-app="todoApp" ng-controller="todoCtrl">
  <head>
    <title>Clerk To-Do List</title>
    <meta charset="utf-8">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script src="/js/script.js"></script>

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  </head>
  <body>

	  <div class="list-wrapper">
	    <div class="list" ng-cloak>
	    	<h1 class="heading">Don't Forget To...</h1>
	    	    <form>
	    
	    	      <div class="item" ng-repeat="task in taskList">
	    	        <input type="checkbox" id="task-{{$index}}" ng-model="task.completed" ng-change="completeTask($index)" />
	    	        <label for="task-{{$index}}">{{ task.descrip }}<span></span></label>
	    	      </div>
	    	    </form>
	    	    <h3 class="count">{{completedTasks}} out of {{taskList.length}} tasks completed</h3>
	    				<h3 class="done">You're done!</h3>
  			</div>
  			<h4 class="error">Error loading data :(<h4>

	  </div>		

  </body>
</html>
